<div class="navigation-wrapper" id="galerie">
  <div class="keen-slider keen-slider--vertical" #sliderRef>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/cadre.jpg" data-title="Cadre de ruche" alt="Cadre de ruche">
        <img src="../../assets/images/gallery/img/cadre.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/tournesol.jpg" data-title="Tournesol à Cuzieu" alt="Tournesol à Cuzieu">
        <img src="../../assets/images/gallery/img/tournesol.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/hausse.jpg" data-title="Hausse" alt="Hausse de miel">
        <img src="../../assets/images/gallery/img/hausse.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/rucher_cuzieu.jpg" data-title="Rucher à Cuzieu" alt="Rucher à Cuzieu">
        <img src="../../assets/images/gallery/img/rucher_cuzieu.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/abeille_danse.jpg" data-title="Danse du pollen" alt="Danse du pollen">
        <img src="../../assets/images/gallery/img/abeille_danse.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/abeille_pollen_tete.jpg" data-title="Abeille avec pollen sur la tête" alt="Abeille avec du miel sur la tête">
        <img src="../../assets/images/gallery/img/abeille_pollen_tete.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/abeilles_a_lenvers.jpg" data-title="Abeilles la tête en bas" alt="Abeilles la tête en bas">
        <img src="../../assets/images/gallery/img/abeilles_a_lenvers.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/essaim.jpg" data-title="Essaim dans un arbre" alt="Essaim dans un arbre">
        <img src="../../assets/images/gallery/img/essaim.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/essaim_2.jpg" data-title="Essaim dans un arbre" alt="Essaim dans un arbre">
        <img src="../../assets/images/gallery/img/essaim_2.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/luisa_rucher.jpg" data-title="Apicultrice" alt="Apicultrice">
        <img src="../../assets/images/gallery/img/luisa_rucher.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/pollen.jpg" data-title="Récolte du pollen" alt="Récolte du pollen">
        <img src="../../assets/images/gallery/img/pollen.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="keen-slider__slide number-slide1">
      <a href="../../assets/images/gallery/img/reine.jpg" data-title="Reine" alt="Reine">
        <img src="../../assets/images/gallery/img/reine.jpg" loading="lazy"/>
      </a>
    </div>
  </div>
  <svg
    [ngClass]="
      'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
    "
    (click)="slider.prev()"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
    />
  </svg>
  <svg
    *ngIf="slider"
    [ngClass]="
      'arrow arrow--right ' +
      (slider.track.details.slides.length - 1 === currentSlide
        ? 'arrow--disabled'
        : '')
    "
    (click)="slider.next()"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
  </svg>
</div>
<div class="dots">
  <button
    (click)="slider.moveToIdx(i)"
    *ngFor="let slide of dotHelper; let i = index"
    [class]="'dot ' + (i === currentSlide ? 'active' : '')"
  ></button>
</div>
